@import '../mixins';
@import '../variables';

.carousel{
  @include box-radius;
  padding: 1rem;
  display: flex;
  background-color: white;
  align-items: center;
  overflow: hidden;
  .button__disabled{
    background-color: $color-light-secondary;
    border-radius: 50%;
    padding: 0.5rem;
    z-index: 1;
    transition: background-color 0.2s ease-in-out;
  }
  .action__button{
    @extend .button__disabled;
    background-color: $color-secondary;
    &:hover{
      background-color: $color-primary;
    }
  }
  .container__images{
    height: 100%;
    display: flex;
    align-items: center;
    transition: translate 0.4s ease;
    gap: 25%;
    .carousel__image{
      width: 80%;
      height: 100%;
      margin: 0 12%;
      object-fit: contain;
    }
  }
}