@import '../variables';

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
  .icon {
    color: $color-secondary;
    &:hover {
      color: #a963df;
    }
  }
}