@import '../variables';

.pokemonCard{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
    background-color: $color-secondary;
    .image{
        width: 80%;
        height: 60%;
    }
    .pokemonCard__types{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        span{
            font-size: $font-medium;
        }
    }

}