@import '../variables';
@import '../mixins';

.stat {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  .stat__name {
    display: flex;
    align-items: center;
    flex: 0.5;
    text-transform: capitalize;
    font-size: $font-medium;

  }

  .stat__container__value {
    flex: 1 0.8;
    min-height: 4rem;
    background-color: #fff;
    @include box-radius;

    .stat__value {
      height: 100%;
      transition: all 0.5s ease;
      background-color: $color-primary;
    }
  }
}