@import '../mixins';
@import '../variables';

.favorites__screen{
  @include flex-column-center;
  gap: 5rem;
  &__title{
    font-size: $font-large;
    color: $color-light-secondary;
  }
  .favorites__container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 0.5fr));
    grid-auto-rows: 45rem;
    justify-content: center;
    gap: 5rem;
  }

  .noFavorites{
    padding: 2rem 1rem;
    color: $color-secondary;
    text-transform: uppercase;
    background-color: $color-dark;
    width: fit-content;
    margin: auto;
    margin-top: 20rem;
    border-radius: 0.5rem;
    text-align: center;
  }
}