@import '../variables';

.home{
    display: flex;
    flex-direction: column;
    .filters{
        display: flex;
        gap: 5rem;
        .home__select{
            flex: 0.5;
            border-radius: 0.5rem;
            color: #fff;
            font-size: $font-sm;
            text-align: center;
            text-transform: uppercase;
            background-color: $color-dark;
            padding: 0 1rem;
            border-right: 1rem solid transparent;
        }
        .input__search{
            flex: 3;
            background-color: $color-secondary;
            font-size: $font-medium;
        }
    }
}