@import '../variables';

.home {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .filters {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        justify-content: center;

        .home__select {
            flex: 0.3;
            border-radius: 0.5rem;
            color: #fff;
            font-size: $font-sm;
            text-align: center;
            text-transform: uppercase;
            background-color: $color-dark;
            padding: 1.5rem 1rem;
            border-right: 1rem solid transparent;
        }

        .container__search {
            flex: 3;
            display: flex;
            flex-wrap: wrap;
            row-gap: 2rem;
            justify-content: center;
            .input__search {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                background-color: $color-secondary;
                font-size: $font-medium;
                flex: 0.9;
                transition: background-color 0.3s ease-in-out;
                &::-webkit-search-cancel-button{
                    filter: invert(0.4) sepia(1) hue-rotate(230deg) saturate(1000%);
                }
                &:focus{
                    background-color: $color-dark;
                }
            }
            .button__search{
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                flex: 0.1;
                border-left: 3px solid $color-dark;
                transition: background-color 0.3s ease-in-out;
                &:hover{
                    background-color: $color-dark;
                }
            }
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .container__pokemons {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(24rem, 0.7fr));
        grid-auto-rows: 32rem;
        justify-content: center;
        gap: 4rem;
    }
}