@import '../variables';

.home {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .filters {
        display: flex;

        .container__search {
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            row-gap: 2rem;
            justify-content: center;
            .input__search {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                background-color: $color-secondary;
                font-size: $font-medium;
                flex: 0.9;
                transition: background-color 0.3s ease-in-out;
                &::-webkit-search-cancel-button{
                    filter: invert(0.4) sepia(1) hue-rotate(230deg) saturate(1000%);
                }
                &:focus{
                    background-color: $color-dark;
                }
            }
            .button__search{
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                flex: 0.1;
                border-left: 3px solid $color-dark;
                transition: all 0.3s ease-in-out;
                &:hover{
                    background-color: $color-dark;
                    border-left-color: #fff;
                }
            }
        }
    }
    .loaderContainer{
        display: flex;
        justify-content: center;
        margin: 25rem 0;
    }

    .nullSearch{
        padding: 2rem 1rem;
        color: $color-secondary;
        text-transform: uppercase;
        background-color: $color-dark;
        width: fit-content;
        margin: auto;
        margin-top: 20rem;
        border-radius: 0.5rem;
    }

    .container__pokemons {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(24rem, 0.7fr));
        grid-auto-rows: 32rem;
        justify-content: center;
        gap: 4rem;
    }
}