@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

// COLORS

$color-primary: #6838A5;
$color-secondary: #C194E4;
$color-light-secondary: #d8bdec;
$color-dark: #38333C;

// FONTS-FAMILY

$font-regular: 'Outfit', sans-serif;

// FONTS-SIZE

$font-small: 1rem;
$font-sm: 1.5rem;
$font-medium: 2rem;
$font-ml: 2.5rem;
$font-large: 3.5rem;
$font-extraLarge: 5rem;

